PYTHON=/path/to/conda/env/bin/python
IU_ANNOTATION=/path/to/iu_xray/annotation.json
IU_IMAGES=/path/to/iu_xray/images
CHEXPERT_ANNOTATION=/path/to/chexpert/annotation.json
CHEXPERT_IMAGES=/path/to/chexpert/images
MIMIC_ANNOTATION=/path/to/mimic/annotation.json
MIMIC_IMAGES=/path/to/mimic/images
QWEN_MODEL=/path/to/Qwen1.5-1.8B-Chat
LLAMA_MODEL=/path/to/llama
BIO_CLINICALBERT=/path/to/Bio_ClinicalBERT
IMAGE_PROCESSOR=/path/to/swin_base_patch4_window7_224
STAGE2_VISION_MODEL=/path/to/Pretrain-L.pth
STAGE3_VISION_MODEL=/path/to/MambaXrayCLIP-L.pth
CUDA_VISIBLE_DEVICES=0
